<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../css/vitals.css">
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css">

  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="../bower_components/angular-material/angular-material.min.js"></script>

  <script src="vitals.module.js"></script>
  <script src="vitals.controller.js"></script>
</head>

<body ng-app="ngHealth" ng-controller="vitalsController">
  <div style="border: 1px solid red;">
    <md-toolbar layout="column" layout-align="center center">Vitals</md-toolbar>
    <md-content layout="column" layout-align="center center" layout-padding>
      <div id="vitals"  style="border: 1px solid green;">
        <md-content id="vitalsDate">
          <md-input-container>
            <label for="ctrlDate">Date</label>
            <input id="ctrlDate" ng-model="date" type="date"></input>
          </md-input-container>
        </md-content>
        <md-content id="vitalsWeight">
          <md-input-container>
            <label for="ctrlWeight">Weight (lbs.)</label>
            <input id="ctrlWeight" ng-model="weight" type="number"></input>
          </md-input-container>
        </md-content>
        <md-content id="vitalsBloodPressure">
          <md-input-container>
            <label for="ctrlSystolic">Systolic</label>
            <input id="ctrlSystolic" ng-model="systolic" type="number"></input>
          </md-input-container>
          <md-input-container>
            <label for="ctrlDiastolic">Diastolic</label>
            <input id="ctrlDiastolic" ng-model="diastolic" type="number"></input>
          </md-input-container>
        </md-content>
        <md-content id="vitalsPulseRate">
          <md-input-container>
            <label for="ctrlPulseRate">Pulse Rate</label>
            <input id="ctrlPulseRate" ng-model="pulseRate" type="number"></input>
          </md-input-container>
        </md-content>
        <md-button class="md-raised md-primary">Submit</md-button>
      </div>
    </md-content>
  </div>
</body>

</html>
